<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id = "animal" class = "headfirst.designpatternjava.BeanFactoryTest.Study">
        <constructor-arg type="java.lang.String" value="11001111xml"/>
    </bean>
</beans>